<div>
  <table class="table table-responsive table-bordered table-stripped">
    <th>Picture</th>
    <th>Name</th>
    <th>Email</th>
    <th>Balance</th>
    <th>Company</th>
    <th>Tags</th>

    <tr ng-repeat="generatedRecord in generatedRecords">
      <td><img src={{generatedRecord.picture}}></td>
      <td>{{generatedRecord.name}}</td>
      <td>{{generatedRecord.email}}</td>
      <td>{{generatedRecord.balance}}</td>
      <td>{{generatedRecord.company}}</td>
      <td>{{generatedRecord.tags}}</td>
    </tr>      
  </table>  
</div>
